$primary-color: rgb(53, 51, 51); 
$secondary-color:rgb(133, 180, 66);
$show-home-image:true; 
$home-image:url(/images/pexels-life-sm.jpg);
$background-opacity: 0.8;


@mixin easeOut {
 transition: all 0.5s ease-out; 

}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-position: 0%, 0%;

      .overlay{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; 
        z-index: -1; 
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
} 

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return black;
  } @else {
    @return white;
  } 
}

// Media Query Mixins 

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
 
@mixin mediaLg{
  @media screen and (min-width:769px) and (max-width: 1170px){
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
 }
}
