@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color:set-text-color($primary-color); 
  height:100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; 

}



// heading

h1,
h2,
h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;

  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding:0.2rem 1rem;
    background: rgba(lighten($secondary-color, 1),0.2);
  }
}

a {
  color: rgb(238, 226, 226);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;

}

.text-secondary{
  color: $secondary-color;
}

main{ 
  padding: 4rem;
  height: 100%; 
      // Using Calc to Create a Sticky Footer by Subtracting the Footer Height(60px) From the Viewpoint Height(100vh)
  min-height: calc(100vh);  

  .icons{
    margin-top: 1rem;
    a {
      padding:0.4rem;

      &:hover {  
        color: $secondary-color;
        @include easeOut(); 
      }
    }
  }
  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

.about-info{
  display:grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); 

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    height: 250px;
  
  }
  
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  
  .job-1 {
    grid-area: job1;
  }
  
  .job-2 {
    grid-area: job2;
  }
  
  .job-3 {
    grid-area: job3;
  }
  
  .job {
    background: rgba(lighten($secondary-color, 1), 0.2);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  
  }

}

// Projects
.projects{
  display:grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3,1fr);

  img{
    width: 100%;
     border: 3px rgba(lighten($secondary-color, 1), 0.6) solid;

     &:hover{
       opacity: 0.5;
       border-color: $secondary-color;
       @include easeOut;

     }
  }
}

// Contact page
.boxes {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;  

  div{
    font-size: 2rem;
    border:3px $secondary-color solid;
    padding: 1.5rem 1.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover{
      padding: 2rem 2.5rem;
      background: rgba(darken($secondary-color, 1), 0.6);
      span{
        color: set-text-color($secondary-color);
      }

    }
  }
}

// Skills

.tools{ 
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: space-evenly;
  padding: 2rem 2rem;   
  margin: 0.5rem 0.5rem; 
  width: 100%;  
  align-items: center; 
  text-align: center;
  color: $secondary-color; 
  
  

  .skills{ 
    max-width: 100%;
    border: lighten($secondary-color,0.1) solid; 
    display: inline;
  
 
    &:hover {
      background: darken($primary-color, 2), 0.1;
      opacity: 0.3; 
      color: rgb(205, 130, 31); 
      padding: 1rem 1.5rem;

 
      @include easeOut; 
    }
  }     
}

// Button Styles
 .btn{
   display: block; 
   padding: 0.5rem 1rem;
   border: 0;
   margin-bottom: 0.3rem;

   &:hover{
     background: $secondary-color;
     color: rgb(55, 50, 50);
   }
 }

 .btn-dark{
   @extend .btn;
  background-color: lighten($primary-color, 5);

 }

 .btn-light{
    @extend .btn;
    background-color: darken($primary-color,5); 

 }


#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color,10);
  color: set-text-color($primary-color);  
  height: 60px; 
}

@import 'mobile';
