@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color:set-text-color($primary-color); 
  height:100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; 

}



// heading

h1,
h2,
h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;

  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding:0.2rem 1rem;
    background: rgba(lighten($secondary-color, 1),0.2);
  }
}

a {
  color: rgb(238, 226, 226);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;

}

.text-secondary{
  color: $secondary-color;
}

main{ 
  padding: 4rem;
  // height: 100%; 
      // Using Calc to Create a Sticky Footer by Subtracting the Footer Height(60px) From the Viewpoint Height(100vh)
  min-height: calc(100vh-60px); 

  .icons{
    margin-top: 1rem;
    a {
      padding:0.4rem;

      &:hover {  
        color: $secondary-color;
        @include easeOut(); 
      }
    }
  }
  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

.about-info{
  display:grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); 

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    height: 250px;
  
  }
  
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  
  .job-1 {
    grid-area: job1;
  }
  
  .job-2 {
    grid-area: job2;
  }
  
  .job-3 {
    grid-area: job3;
  }
  
  .job {
    background: rgba(lighten($secondary-color, 1), 0.2);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  
  }

}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color,10);
  color: set-text-color($primary-color);  
  height: 60px; 
}

@import 'mobile';
